<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/WebApp.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<!-- Format is [date/time] [log level] [thread] message-->
			<conversionPattern value="[%date] [%level] [%thread] %m%n" />
		</layout>
	</appender>
	<appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data" />
		<connectionStringName value="DbStr" />
		<connectionStringFile value="appsettings.json" />
		<commandText value="INSERT INTO ApplicationLog (ActionTime, Details) VALUES (@actionTime, @details)" />
		<parameter>
			<parameterName value="@actionTime" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>

		<parameter>
			<parameterName value="@details" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
	</appender>
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingLogFileAppender" />
	</root>
</log4net>